<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Generate Token</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css" th:href="@{/css/style.css}">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>
<body>


<nav th:replace="index.html :: navbar"></nav>

<main>

    <div class="w3-cell-row" style="width:100%; text-align: center; margin-bottom: 350px; margin-top: 150px">


        <form class = "formBox" th:action="@{/auth/generate-token}" method="get" >
            <div class="mb-3" style="width: 400px; margin-left: 290px">
                <label for="inputUsername" class="form-label">Enter your username to generate new email</label>
                <input th:name="username" type="text" class="form-control" id="inputUsername" aria-describedby="emailHelp">
            </div>

            <button type="submit" class="btn btn-outline-success btn-lg">Request new email</button>
        </form>

    </div>

</main>

<footer th:replace="footer.html :: footer">  </footer>

</body>
</html>